.main-container{
    background-color: red;
}

@media (min-width: 400px) {
    .main-container {
        background-color: blue;
    }
}

.splash-logo {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display:none;
}
